$color-white: #fff;

$color-grey-50: #fafafa;
$color-grey-100: #eee;
$color-grey-200: #ccc;
$color-grey-300: #333;
$color-grey-400: #181818;
$color-grey-500: #282828;

$color-black: #000;

$color-red-100: #f00;
$color-red-200: #d14;

$color-yellow-50: #ebdbb2;
$color-yellow-100: #ffcf00;
