$black: #000;
$white: #fff;

$blue-400: #3192e7;
$blue-500: #0072de;
$blue-600: #0669de;

$gray-100: #eee;
$gray-200: #ddd;
$gray-250: #ccc;
$gray-300: #999;
$gray-600: #333;
$gray-900: #181818;

$red-500: #ff351e;
$red-550: #e83f26;

$yellow-400: yellow;
$yellow-500: #b59223;