.dialog-media-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 2000;

  .dialog-media {
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    width: 40%;

    &__header {
      padding: 1rem 1rem 0.6rem 1rem;
      border-bottom: 1px solid #eee;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &__close {
        background-color: transparent;
        border: none;
        color: #999;
        cursor: pointer;

        &:hover {
          color: #000;
        }
      }

      .dialog-media-header__title {
        color: #999;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .dialog-media-body__input {
        margin-bottom: 1rem;
        padding: 0.3rem;
      }

      .dialog-media-body__button {
        margin-bottom: 1rem;
        background-color: #0669de;
        border: none;
        color: #fff;

        padding: 0.5rem;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
          background-color: #0361d4;
        }
      }

      .dialog-media-body__info {
        text-align: center;
        font-size: 0.75rem;
        color: #333;
      }
    }
  }
}
