$black: #000;
$black-20: #00000033;
$black-50: #00000080;

$white: #fff;
$white-80: #ffffffcc;

$red: red;
$hit-color: #ffcf00;
$code-color: #d14;
$light-yellow: #ebdbb2;

$gray-050: #fafafa;
$gray-100: #ccc;
$gray-300: #333;
$gray-400: #282828;
